.svn
/SE4IOT.acn
/SE4IOT.acr
/SE4IOT.alg
/SE4IOT.aux
/SE4IOT.bbl
/SE4IOT.blg
/SE4IOT.dvi
/SE4IOT.glg
/SE4IOT.glo
/SE4IOT.gls
/SE4IOT.idx
/SE4IOT.ist
/SE4IOT.lof
/SE4IOT.log
/SE4IOT.out
/SE4IOT.pdf
/SE4IOT.synctex.gz
/SE4IOT.toc
/SE4IOT.rtf
